docker/data/*
docker/.idea
.DS_Store
.env

data/*

docker/portainer/data
docker/nextcloud/data
docker/immich/data

# Ignorer les éléments spécifiques à Immich
.immich
www/immich


.idea


www/data
www/immich
www/nextcloud
/docker/portainer/data/
