[Unit]
Description=Service de gestion des conteneurs Docker (cloud_services)
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=yves
WorkingDirectory=/home/yves/sites/nextcloud
ExecStart=/usr/bin/python3 /home/yves/sites/nextcloud/cloud_services.py start
ExecStop=/usr/bin/python3 /home/yves/sites/nextcloud/cloud_services.py stop
ExecReload=/usr/bin/python3 /home/yves/sites/nextcloud/cloud_services.py restart
Environment=PATH=/bin:/usr/bin:/usr/local/bin
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target