#users ids could retrieved by the command `id $USER`

PROJECT_NAME=NEXTCLOUD_IMMICH

PUID=1000
PGID=1000

POSTGRES_DB_PASSWORD=postgres
POSTGRES_DB_USER=postgres
POSTGRES_DB_NAME=immich

# Toujours epingler une majeure explicite (v2, v3...), jamais "release" :
# Immich n'autorise pas de sauter une version majeure.
IMMICH_VERSION=v2

# Racine des bibliothèques externes Immich (indexation sur place, sans copie)
EXTERNAL_MEDIA_PATH=./www/immich/external
